<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Instaton
      </h1>
      <h2>Do whatever you want when you want to.</h2>
        <%= link_to "Log In", new_user_session_path , class:"ui primary button"%>
        <%= link_to "Sign up", new_user_registration_path , class:"ui primary button"%>

      
    </div>

  </div>
